:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-gray);
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
  font-size: .9rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

main h1.sr-only {
  opacity: 0;
  height: 0;
}

main {
  text-align: center;
  max-width: 320px;
  background-color: var(--white);
  border-radius: 20px;
  padding: 16px;
  box-shadow: 20px 20px 20px hsla(217, 45%, 22%, 0.1);
}

main img {
  width: 100%;
  border-radius: 10px;
}

h2 {
  color: var(--dark-blue);
  padding: 20px 10px 0;
}

p {
  color: var(--grayish-blue);
  padding: 16px 16px 20px;
}